{% extends "base.html" %}
{% block head %}
{% block title %}Show{% endblock %}
	{{super()}}
	<style>
		textarea.autosize { min-height: 50px; }
		.comment-panel{border:0px;}
	</style>
{% endblock %}
{% block body %}

	{% block Nav %}
		{{super()}}
	{% endblock %}
<section>
  <div class="container">
  {% if rows: %}
	  	<div>
	  		<br><div style="font-size:20px; text-align:center;">{{rows['category']}}</div>
	    </div>
	    <br>
	    <div class="container">
		    <div class="panel panel-default">
		    	<div class="panel-heading">
		    		<div class="panel-title">
						<div class="panel-heading">
						{% if rows['user_delete']: %}
			    			<label class="col-xs-4 col-md-4 col-sm-4">-</label>
			    		{% else: %}
			    			<label class="col-xs-4 col-md-4 col-sm-4">{{rows['id']}}</label>
			    		{% endif %}
			    			<label class="col-xs-4 col-md-4 col-sm-4 text-center">{{rows['write_time']}}</label>
			    			<label class="col-xs-4 col-md-4 col-sm-4 text-right">조회수 : {{rows['hits']}}</label><br>
						</div>
		    		</div>
		    	</div>
		    	
			    <div class="panel-body">
			    	<table class="table">
			    		<thread>
			    			<tr>
			    				<th><h3 class="text-muted" style="font-weight:bold;">Title : {{rows['title']}}</h3></th>
			    			</tr>
			    		</thread>
			    		<tbody>
			    			<td>
			    				<div>
								{% autoescape false %}
									{{rows['contents']}}
								{% endautoescape %}
								</div>
			    			</td>
			    		</tbody>
			    	</table>
					
		
				    <div>
				    {% if user_check==True or session['permission']=="Admin": %}
						<input type="button" data-toggle="modal" data-target="#board_delete_Modal" class="btn btn-default pull-right" id="board_delete_btn" value="글 삭제">
								<div class="modal fade" id="board_delete_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-body">
												<div class="panel panel-danger">
														<div class="panel-heading">
															<div class="panel-title">
																<label class="text-center">글 삭제</label>
																<!-- 닫기(x) 버튼 -->
																<button type="button" class="close" data-dismiss="modal">×</button>
															</div>
														</div>
														<div class="panel-body">
															<h4 class="text-center">정말 삭제 하시겠습니까?</h4>
															<br>
															<div class="col-sm-2 col-sm-offset-2">
																<div div class="container">
																<button class="btn btn-primary" id="delete_action_btn">삭 제</button>
																</div>
															</div>
															<div class="col-sm-2 col-sm-offset-3">
																<div div class="container">
																<button class="btn btn-default" type="button" data-dismiss="modal">취 소</button>
																</div>
															</div>
														</div>
												</div>
											</div>
										</div>
									</div>
								</div>
						{% if user_check==True: %}
						<a href="{{url_for('app.board_modify_form', uuid=rows['uuid'])}}" class="btn btn-default pull-right">글 수정</a>
						{% endif %}
				    {% endif %}
						<a href="{{url_for('app.board_list', category=rows['category'])}}" class="btn btn-default pull-right">글 목록</a>
				    </div>
			    </div>
		    </div>
		    {% if comments: %}
		    	{% for row in comments %}
		    	{% set numbering = loop.index %}
		    		<div class="panel panel-default comment-panel">
		    			<div class="panel-body">
			    			<div class="row">
			    			<label class="col-xs-3 col-md-1 col-sm-2" id="comment_id{{numbering}}" style="font-weight:bold;">{{row['id']}}</label>
			    			<a class="col-xs-9 col-md-11 col-sm-10" id="comment_time{{numbering}}" style="font-size:10px">({{row['write_time']}})</a>
			    			</div>
			    			<div class="row">
			    			<div class="a col-xs-offset-3 col-xs-8 col-md-offset-1 col-md-10 col-sm-offset-2 col-sm-9" id="comment_contents{{numbering}}">{{row['comment_contents']}}</div>
			    				{% if session['id'] == row['id']: %}
			    				<a class="col-xs-1 col-md-1 col-sm-1" id="delete_{{numbering}}" onclick="set_data('{{row['write_time']}}', '{{row['id']}}')" style="cursor:pointer"><span class="glyphicon glyphicon-remove"></span></a>
			    				<div class="modal fade" id="comment_delete_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-body">
												<div class="panel panel-danger">
														<div class="panel-heading">
															<div class="panel-title">
																<label class="text-center">댓글 삭제</label>
																<!-- 닫기(x) 버튼 -->
																<button type="button" class="close" data-dismiss="modal">×</button>
															</div>
														</div>
														<div class="panel-body">
															<h4 class="text-center">정말 삭제 하시겠습니까?</h4>
															<br>
															<div class="col-sm-2 col-sm-offset-2">
																<div div class="container">
																<button class="btn btn-primary" id="comment_del_btn">삭 제</button>
																</div>
															</div>
															<div class="col-sm-2 col-sm-offset-3">
																<div div class="container">
																<button class="btn btn-default" type="button" data-dismiss="modal">취 소</button>
																</div>
															</div>
														</div>
												</div>
											</div>
										</div>
									</div>
								</div>
			    				{% else: %}
			    				{% endif %}
			    			</div>
		    			</div>
		    		</div>
		    	{% endfor %}
		    	{% if session: %}
				    <div class="container">
					    <div class="form-group">
							<label class="col-xs-1 col-md-1 col-sm-1"> Comment</label> 
							<textarea name="comment_contents" id="comment_contents" class="col-xs-9 col-md-9 col-sm-9 autosize" onkeydown="resize(this)" onkeyup="resize(this)" style="resize:none"></textarea>
							<a class="btn col-xs-2 col-md-2 col-sm-2 btn-sm" id="coment_btn">등 록</a>
							<form name="goLink" style="padding:0; margin:0;">
			  				<input type="hidden" name="uuid" />
			  				<input type="hidden" name="hits" />
			 				</form>
						</div>
					</div>
			    {% endif %}
		    	{% if pagination: %}
				<div class="row" align="center">
					<div class="col-md-12">
						<p>
						    {% from "_pagehelpers.html" import render_pagination %}
						    {{ render_pagination(pagination) }}
						</p>
					</div>
				</div>
				{% else %}
					<!-- do nothing! -->
				{% endif %}
			{% else: %}
				{% if session: %}
				    <div class="container">
				    <div class="form-group">
						<label class="col-xs-1 col-md-1 col-sm-1"> Comment</label> 
						<textarea name="comment_contents" id="comment_contents" class="col-xs-9 col-md-9 col-sm-9 autosize" onkeydown="resize(this)" onkeyup="resize(this)" style="resize:none"></textarea>
						<a class="btn col-xs-2 col-md-2 col-sm-2 btn-sm" id="coment_btn">등 록</a>
					</div>
					<form name="goLink" style="padding:0; margin:0;">
		  				<input type="hidden" name="uuid" />
		  				<input type="hidden" name="hits" />
		 			</form>
					
					</div>
			    {% endif %}
		    {% endif %}
		
	    </div>
	{% else: %}
		<h1>404 Error!</h1>
	{% endif %}
  </div>
</section>


	{% block Footer %}
		{{super()}}
	{% endblock %}

	{% block jquery %}
		{{super()}}
	{% endblock %}
	<script type="text/javascript">
	var comment_writetime = (function(){
		var private_datetime;
		return {
			set : function(val){
				private_datetime = val;
			},
			value : function(){
				return private_datetime;
			}
		}
	})();
	
	var comment_id = (function(){
		var private_comment_id;
		return{
			set : function(val){
				private_comment_id = val;
			},
			value : function(){
				return private_comment_id;
			}
		}
	})();
	
	function set_data(writetime, id){
		comment_writetime.set(writetime);
		comment_id.set(id);
		$('#comment_delete_Modal').modal();
	}
	
	// 댓글 삭제 ajax
	function delete_comment(){
		write_time = comment_writetime.value();
		uuid = "{{rows['uuid']}}"
		id = comment_id.value();
		
		$.ajax({
			url : "{{url_for('.delete_comment')}}",
			type : 'POST',
			dataType : "json",
			data : {
				write_time:write_time,
				uuid:uuid,
				id:id
			},
			async: false,
			success : function(data) {
				status = $.trim(data.status);
				if (status == 'fail') {
					alert('Error! 댓글 삭제 실패');
					$('#modify_password').focus();
				} else if (status == 'ok') {
					alert('댓글 삭제 완료');
					window.location.href="{{url_for('.board_show', uuid=rows['uuid'])}}";
				} else if (status == 'error') {
					alert('Error!');
				}
			},
			error : function(error) {
				console.log(error);
			}
		});
	}
	
	$(function(){
		$('#comment_del_btn').click(function (){
			delete_comment();
		});
	});
	
	function resize(obj) {
		  obj.style.height = "1px";
		  obj.style.height = (12+obj.scrollHeight)+"px";
	}
	
	$(function(){
		$('#coment_btn').click(function(){
			var comment_contents = $('textarea#comment_contents').val();
			if(comment_contents.length==0 || !comment_contents.trim()){
				alert("내용을 작성해 주세요!");
				return;
			}else if(comment_contents.length >= 255){
				alert("내용을 255자 이내로 작성해주십시오.");
				return;
			}
			//댓글 등록 ajax
			$.ajax({
				url : "{{url_for('.insert_comment')}}",
				type : 'POST',
				dataType : "json",
				data : {
					comment_contents:comment_contents,
					uuid:"{{rows['uuid']}}",
					id:"{{session['id']}}"
				},
				async: false,
				success : function(data) {
					status = $.trim(data.status);
					if (status == 'fail') {
						alert('Error! 댓글 등록 실패');
						$('#modify_password').focus();
					} else if (status == 'ok') {
						alert('댓글 등록 완료');
						window.location.href="{{url_for('.board_show', uuid=rows['uuid'])}}";
					} else if (status == 'error') {
						alert('Error!');
					}
				},
				error : function(error) {
					console.log(error);
				}
			});
		});
	});
	$(function (){
		// 글삭제 ajax
		$('#delete_action_btn').click(function (){
				$.ajax({
					url : "{{ url_for('.board_delete') }}",
					type : 'POST',
					dataType : "json",
					data : {uuid:"{{rows['uuid']}}"},
					async: false,
					success : function(data) {
						status = $.trim(data.status);
						if (status == 'fail') {
							alert('권한 오류');
							$('#modify_password').focus();
						} else if (status == 'ok') {
							alert('글 삭제 완료');
							window.location.replace("{{url_for('.board_list', category=rows['category'])}}");
						} else if (status == 'error') {
							alert('Error!');
						}
					},
					error : function(error) {
						console.log(error);
					}
				});
		});
	});
	</script>
{% endblock %}
