{% extends "base.html" %}
{% block head %}
{% block title %}글수정{% endblock %}
	{{super()}}
{% endblock %}
{% block body %}
	{% block Nav %}
		{{super()}}기
	{% endblock %}
<section style="margin-top:50px;">
  <div class = "container">
 		 <div class="panel-heading">
        	<div class="panel-title" style="font-size:20px; text-align:center;">글 수정</div>
   		 </div>
		<form method="POST" action="{{url_for('.board_modify', category=board_name)}}"> 
		    <div class="form-group">
		    	<label>Category: {{data['category']}}</label><br>
		      <label for="subject">Title:</label>
		      <input type="text" class="form-control" name ="subject" id="subject" oninput="title_spaceCheck()" value="{{data['title']}}">
		    </div>
		    <div class="form-group">
		      <label for="content">Comment:</label>
		      <textarea id="editor1" name="editor1" >
		      {% autoescape false %}
		      	{{data['contents']}}
		      {% endautoescape %}
		      </textarea>
		    </div>
		    <div class="form-group">
		      <input type="file" class="btn btn-default pull-left" id="File">
		    </div>
		    <div class="form-group">
		        <button type="submit" id="board_write" class="btn btn-primary pull-right" disabled="disabled">수 정</button>
		    </div>
		</form>
  </div>
</section>
	{% block Footer %}
		{{super()}}
	{% endblock %}

	{% block jquery %}
		{{super()}}
	{% endblock %}
	<script>
            CKEDITOR.replace( 'editor1', {
                filebrowserImageUploadUrl: '/ckupload/'
            });
	</script>
  <!-- <script>
  CKEDITOR.replace( 'MESSAGE' );
  </script>
   -->


{% endblock %}
