{% extends "base.html" %}
{% block head %}
{% block title %}Index{% endblock %}
	{{super()}}
{% endblock %}
{% block body %}
	{% block Nav %}
		{{super()}}
	{% endblock %}
<section id="Board" style="margin-top:50px;">
<div class="container">
	<br>
    <div class="panel-heading">
        <div class="panel-title" style="font-size:20px; text-align:center;">{{board_name}}</div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
        	<th width="10%">#</th>
          <th class="text-center" width="50%">제목</th>
          <th class="text-center" width="10%">작성자</th>
          <th class="text-center" width="20%">날짜</th>
          <th class="text-center" width="10%">조회수</th>
        </tr>
      </thead>
      <tbody>
        {% for row in rows %}
		<tr>
			{% set numbering = loop.index+(pagination.page*pagination.per_page)-10 %}
			<td>{{ numbering }}</td>
			<td><a  onclick="Board_show('{{row['uuid']}}', '{{row['hits']+1}}')" class="text-muted" style="cursor:pointer">{{ row['title'] }}</a></td>
			{% if not row['user_delete']: %}
			<td class="text-center">{{ row['id'] }}</td>
			{% else: %}
			<td class="text-center">-</td>
			{% endif %} 
			<td class="text-center">{{ row['write_time'] }}</td> 
			{% if row['hits']: %}
			<td class="text-center">{{ row['hits'] }}</td>
			{% else: %}
			<td class="text-center">0</td>
			{% endif %} 
		</tr>
		{% endfor %}
      </tbody>
    </table>	
  <form name="goLink" style="padding:0; margin:0;">
  	<input type="hidden" name="uuid" />
  	<input type="hidden" name="hits" />
  </form>
   
	<div class="container">
    <a href="{{url_for('.write_form', category=board_name)}}" class="btn btn-default pull-right">글쓰기</a>
	</div>

{% if pagination: %}
<div class="row" align="center">
	<div class="col-md-12">
		<p>
		    {% from "_pagehelpers.html" import render_pagination %}
		    {{ render_pagination(pagination) }}
		</p>
	</div>
</div>
{% else %}
	<!-- do nothing! -->
{% endif %}
</div>
</section>

	{% block Footer %}
		{{super()}}
	{% endblock %}
  {% block jquery %}
    {{super()}}
  {% endblock %}
  
	<script type="text/javascript">
	//Boad_show로 넘어가는 함수
	var get_uuid = (function (){
		var private_uuid;
		return {
			set : function(val){
				private_uuid = val;
			},
		}
	});
		function Board_show(get_uuid, get_hits){
			var f=document.goLink;  //폼 name
			f.hits.value = get_hits;  //POST방식으로 넘기고 싶은 값
			f.action="/Board_View/"+get_uuid+"/";  //이동할 페이지
			f.method="post";  //POST방식
			f.submit();
		}
	</script>
{% endblock %}
