{% extends "base.html" %}
{% block head %}
{% block title %}View{% endblock %}
	{{super()}}
{% endblock %}
{% block body %}

	{% block Nav %}
		{{super()}}
	{% endblock %}
<section>
  <div class="container">
  {% if rows: %}
	  	<div>
	  		<br><div style="font-size:20px; text-align:center;">{{rows['category']}}</div>
	    </div>
	    <br>
	    <div class="container">
		    <div class="panel panel-info">
		    	<div class="panel-heading">
		    		<div class="panel-title">
						<div class="panel-heading">
			    			<label class="col-sm-4">{{rows['id']}}</label>
			    			<label class="col-sm-4 text-center">{{rows['write_time']}}</label>
			    			<label class="col-sm-4 text-right">조회수 : {{rows['hits']}}</label><br>
						</div>
		    		</div>
		    	</div>
		    	
			    <div class="panel-body">
					<h3 class="text-primary" style="font-weight:bold;">{{rows['title']}}</h3><br>
					<div>
					{% autoescape false %}
					{{rows['contents']}}
					{% endautoescape %}
					</div>
		
				    <div>
				    {% if user_check==True: %}
						<a href="#" class="btn btn-default pull-right">글 삭제</a>
						<a href="#" class="btn btn-default pull-right">글 수정</a>
				    {% endif %}
						<a href="{{url_for('.board_list', category=rows['category'])}}" class="btn btn-default pull-right">글 목록</a>
				    </div>
			    </div>
		    </div>
	    </div>
	{% else: %}
		<h1>404 Error!</h1>
	{% endif %}
  </div>
</section>


	{% block Footer %}
		{{super()}}
	{% endblock %}

	{% block jquery %}
		{{super()}}
	{% endblock %}

{% endblock %}
