{% extends "base.html" %}
{% block head %}
{% block title %}Show{% endblock %}
	{{super()}}
	<style>
		.name {
			font-size:26px;
			font-family:Lucida Sans Unicode,Lucida Grande,sans-serif;
		}
		.hnl {
			font-size:20px;
			font-family:Times New Roman,Times,serif;
		}
	</style>
{% endblock %}
{% block body %}

	{% block Nav %}
		{{super()}}
	{% endblock %}
<section>
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">
		    	<div class="panel-title">
		    		<div class="panel-heading">
  						<h2>개발자 페이지</h2>
  					</div>
	    		</div>
	    	</div>
	    	<div class="panel-body">
	    		<table class="table">
	    			<thead>
	    				<tr>
	    					<th>
								<div>
									<h2>팀명 : G.M.D (Google Maketh Developer)</h2>
								</div>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
						    <td>
						    	노인수
						    </td>
						</tr>
						<tr>
						    <td>
						    	김정남
						    </td>
						</tr>
			    	</tbody>
				</table>
			</div>
		 </div>
	</div>
</section>



	{% block Footer %}
		{{super()}}
	{% endblock %}

	{% block jquery %}
		{{super()}}
	{% endblock %}
{% endblock %}