{% extends "base.html" %}
{% block head %}
{% block title %}Show{% endblock %}
	{{super()}}
	<style>
		textarea.autosize {
			min-height: 50px;
		}
		
		.comment-panel {
			border: 0px;
		}
		.notice_h3{
			font-weight: bold;
			color: #f05f40;
		}
	</style>
{% endblock %}
{% block body %}

	{% block Nav %}
		{{super()}}
	{% endblock %}
<section>
  <div class="container">
  {% if rows: %}
  		<h3>소 개</h3>
	    <br>
	    <div class="container">
			<div>
				{% autoescape false %}	
					{{rows['contents']}}
				{% endautoescape %}
			</div>
 		 </div>
  {% endif %}
  </div>
</section>


	{% block Footer %}
		{{super()}}
	{% endblock %}

	{% block jquery %}
		{{super()}}
	{% endblock %}
{% endblock %}
