{% extends "base.html" %}
{% block head %}
{% block title %}Show{% endblock %}
	{{super()}}
	<style>
		textarea.autosize {
			min-height: 50px;
		}
		
		.comment-panel {
			border: 0px;
		}
		.notice_h3{
			font-weight: bold;
			color: #f05f40;
		}
	</style>
{% endblock %}
{% block body %}

	{% block Nav %}
		{{super()}}
	{% endblock %}
<section>
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">
		    	<div class="panel-title">
		    		<div class="panel-heading">
  					{% if rows: %}
  						<h3 style="margin:2px;">{{rows['category']}}</h3>
  					</div>
	    		</div>
	    	</div>
	    	<div class="panel-body">
	    		<table class="table">
	    			<thead>
	    				<tr>
	    					<td>
								<div>
									{% autoescape false %}	
										{{rows['contents']}}
									{% endautoescape %}
								</div>
							</td>
						</tr>
					</thead>
					<div>
						{% if rows['uuid'] == '후원' : %}
							{% if downs %}
								<tbody>
									<tr>
						    			<td>
						    				<p>파일 다운로드 : 
											    {% for down in downs : %}
											    	<a href="{{url_for('.download_file', filename=down['file_name'])}}">{{down['origin_name']}}</a><br>
											    {% endfor %}
						    				</p>
						    			</td>
						    		</tr>
			    				</tbody>
			    			{% endif %}
						{% else : %}
						{% endif %}
					</div>
				</table>
			</div>
		 </div>
 		</div>
					{% endif %}
 	</div>
</section>



	{% block Footer %}
		{{super()}}
	{% endblock %}

	{% block jquery %}
		{{super()}}
	{% endblock %}
{% endblock %}
