{% extends "base.html" %} 
{% block head %} 
	{% block title %}회원정보 수정{%endblock %} 
	{{super()}} 
{% endblock %} 
{% block body %} 
	{% block Nav %}
		{{super()}} 
	{% endblock %}
<section id="signup">
	<div class="container">
		<div class="col-md-9 col-sm-10 col-sm-offset-2">
			<div class="panel panel-info" style="margin-top: 100px;">
				<div class="panel-heading">
					<div class="panel-title">회원 정보 수정</div>
				</div>
				<div class="panel-body">
					<form class="form-horizontal">
						<div class="form-group">
							<label class="control-label col-sm-2 col-sm-offset-1" for="id">아이디:</label>
							<div class="col-sm-7">
								<input type="text" name="id" id="modify_id" value="{{id}}"
									disabled="disabled">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2 col-sm-offset-1" for="email">이메일:</label>
							<div class="col-sm-7">
								<input type="email" class="form-control" name="email"
									id="modify_email" value="{{email}}">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2 col-sm-offset-1" for="password">현재
								비밀번호:</label>
							<div class="col-sm-7">
								<input type="password" class="form-control" name="password"
									id="modify_password" placeholder="Enter password">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2 col-sm-offset-1" for="new_password">새
								비밀번호:</label>
							<div class="col-sm-7">
								<input type="password" class="form-control" name="new_password"
									id="modify_new_password" placeholder="Repeat password">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2 col-sm-offset-1" for="rpassword">비밀번호
								재입력</label>
							<div class="col-sm-7">
								<input type="password" class="form-control"
									name="repeat_password" id="modify_repeat_password"
									oninput="check_repeatPassword_css()"
									placeholder="Repeat password">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2 col-sm-offset-1" for="name">이름:</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" name="name"
									id="modify_name" value="{{name}}">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2 col-sm-offset-1" for="cell_phone">전화번호:</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" name="cell_phone"
									id="modify_cell_phone" value="{{cell_phone}}">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-7 col-sm-4">
								<input type="button" data-toggle="modal" data-target="#withdrawal_Modal" class="btn btn-primary" value="회원탈퇴">
									<div class="modal fade" id="withdrawal_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									  <div class="modal-dialog">
									    <div class="modal-content">
										      <!-- body -->
										      <div class="modal-body">
										      		<div class="panel panel-danger">
														<div class="panel-heading">
															<div class="panel-title">회원 탈퇴</div>
																<!-- 닫기(x) 버튼 -->
																<button type="button" class="close" data-dismiss="modal" style="margin-top:-30px;">×</button>
														</div>
														<div class="panel-body">
															<h5>※탈퇴하시면 계정복구가 불가능합니다. </h5>
															<label class="control-label">비밀번호 : </label>
															<input type="password" id="withdrawal_password" placeholder="Enter password">
														</div>
													</div>
										      </div>
										      <!-- Footer -->
										      <div class="modal-footer">
										        <button id="withdrawal_btn" type="button" class="btn btn-primary" data-dismiss="modal">회원 탈퇴</button>
										      </div>
									    </div>
									  </div>
									</div>
								<button type="button" id="modify_btn" class="btn btn-default">수 정</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

	{% block Footer %} 
		{{super()}}
	{% endblock %} 

	{% block jquery %}
		{{super()}} 
	{% endblock %}
	<script type="text/javascript" >
	function Empty_Newpassword() {
		var input_password = $('#modify_newpassword').val()
		if (checkSpace(input_password)) {
			return false;
		} else {
			return true;
		}
	}
	function check_Newpassword() {
		var input_password = $('#modify_new_password').val();
		if (checkPasswordPattern(input_password)) {
			return true;
		} else {
			alert('alert("비밀번호는 8자리 이상 문자, 숫자, 특수문자로 구성하여야 합니다.")')
			return false;
		}
	}

	function modify_checkphoneNum() {
		input_cell = $('#modify_cell_phone').val()
		if (input_cell == '') {
			alert('전화번호를 입력하세요!')
			$('#modify_cell_phone').focus()
			return false;
		} else if (checkphoneNum(input_cell)) {
			alert("잘못된 전화번호입니다. 숫자만 입력하세요.");
			$('#modify_cell_phone').focus()
			$('#modify_cell_phone').select()
			return false;
		}
		return true;
	}
	function check_repeatPassword_css() {
		var input_password = $('#modify_new_password').val();
		var input_rpassword = $('#modify_repeat_password').val();
		if (str_cmp(input_password, input_rpassword)) {
			$('#modify_repeat_password').css("background-color", "#B0F6AC");
		} else {
			$('#modify_repeat_password').css("background-color", "#FFCECE");
		}
	}
	function check_repeatPassword() {
		var input_password = $('#modify_new_password').val();
		var input_rpassword = $('#modify_repeat_password').val();
		if (str_cmp(input_password, input_rpassword)) {
			return true;
		} else {
			alert("재입력한 password 가 다릅니다.");
			$('#modify_repeat_password').focus();
			return false;
		}
	}

	//회원정보수정전 password 확인 ajax
	$(function(){
		$('#modify_btn').click(function(){
			var id = $('#modify_id').val()
			var password = $('#modify_password').val()

			if (password == '') {
				alert('비밀번호를 입력해 주세요.')
				return;
			}
			$.ajax({
				url : '/user/modify/password/check',
				data : $('form').serialize(),
				async: false,
				type : 'POST',
				success : function(data) {
					status = $.trim(data.status);
					if (status == 'fail') {
						alert('비밀번호가 다릅니다.');
						$('#modify_password').focus();
					} else if (status == 'ok') {
						modify();
					} else if (status == 'error') {
						alert('Error!');
						$('#modify_password').focus();
					}
				},
				error : function(error) {
					console.log(error);
				}
			});
		});
	});
	$(function(){
		$('#withdrawal_btn').click(function(){
			var input_password = $('#withdrawal_password').val();

			if(input_password==''){
				alert('비밀번호를 입력하세요');
				return
			}

			$.ajax({
				url : "{{ url_for('.withdrawal') }}",
				type : 'POST',
				dataType : "json",
				data : {password:input_password},
				async: false,
				success : function(data) {
					status = $.trim(data.status);
					if (status == 'password_discordance') {
						alert('비밀번호가 다릅니다.');
						$('#modify_password').focus();
					} else if (status == 'ok') {
						alert('회원 탈퇴 완료');
						window.location.replace("{{url_for('.index')}}")
					} else if (status == 'error') {
						alert('Error!');
						$('#modify_password').focus();
					}
				},
				error : function(error) {
					console.log(error);
				}
			});
		});
	});
	function modify(){
		var newpassword;
		var modify_pass;

		if (!Empty_Newpassword()) {
			if (check_Newpassword()) {
				if (check_repeatPassword()) {
					modify_pass = $('#modify_repeat_password').val();
				} else {
					return;
				}
			} else {
				return;
			}
		}

		if (!modify_checkphoneNum()) {
			return;
		}
		var email = $('#modify_email').val();
		var name = $('#modify_name').val();
		var cell_phone = $('#modify_cell_phone').val();
		$.ajax({
			url : '/user/modify',
			data : $('form').serialize(),
			type : 'POST',
			async: false,
			success : function(data) {
				status = $.trim(data.status);
				if (status == 'fail') {
					alert('Error!! 회원원정보 수정 실패!')
					location.replace("{{url_for('.modify_form')}}");
				} else if (status == 'ok') {
					alert('회원 정보 수정 완료')
					location.replace("{{url_for('.modify_form')}}");
				}
			},
			error : function(error) {
				console.log(error);
			}
		});
	}
	</script>
{% endblock %}
