{% extends "base.html" %}
{% block head %}
{% block title %}글쓰기{% endblock %}
	{{super()}}
{% endblock %}
{% block body %}
	{% block Nav %}
		{{super()}}기
	{% endblock %}
<section id="write" style="margin-top:50px;">
  <div class = "container">
		<form action = "{{url_for('.create')}}" accept-charset="utf-8" method =post >
		 <div class="panel-heading">
        <div class="panel-title" name="category" style="font-size:20px; text-align:center;">{{board_name}}</div>
   		 </div>
	    <div class="form-group">
	      <label for="subject">Title</label>
	      <input type="text" class="form-control" name ="subject" id="subject" placeholder="Enter title">
	    </div>
	    <div class="form-group">
	      <label for="content">Comment:</label>
	      <textarea class="form-control" rows="10" id="MESSAGE" name="editor1" placeholder="Describe yourself here..."></textarea>
	    </div>
	    <div class="form-group">
	      <input type="file" class="btn btn-default pull-left" id="File">
	    </div>
	    <div class="form-group">
	        <button type="submit" class="btn btn-default pull-right">Submit</button>
	    </div>
		</form>
  </div>
</section>

	{% block Footer %}
		{{super()}}
	{% endblock %}

	{% block jquery %}
		{{super()}}
	{% endblock %}
	<script>
            CKEDITOR.replace( 'editor1', {
                filebrowserImageUploadUrl: '/ckupload/'
            });
	</script>
  <!-- <script>
  CKEDITOR.replace( 'MESSAGE' );
  </script>
   -->


{% endblock %}
