{% extends "base.html" %}
{% block head %}
{% block title %}글쓰기{% endblock %}
	{{super()}}
	<!-- <script src="//cdn.ckeditor.com/4.5.3/standard/ckeditor.js"></script> -->
	<script type="text/javascript" src="{{url_for('static', filename='ckeditor/ckeditor.js')}}"></script>
{% endblock %}
{% block body %}
	{% block Nav %}
		{{super()}}
	{% endblock %}
<section id="write" style="margin-top:50px;">
  <div class = "container">
 		 <div class="panel-heading">
        	<div class="panel-title" style="font-size:20px; text-align:center;">{{board_name}}</div>
   		 </div>
		<form method="POST" enctype="multipart/form-data" action="{{url_for('.create', category=board_name)}}"> 
		{% if session['permission'] == "Admin" %}
			<div class="form-group">
				<label for="notice"><input type="checkbox" id="notice" name="notice"> 공 지</label>
			</div>
		{% endif %}
		    <div class="form-group">
		      <label for="subject" class="">Title:</label>
		      <input type="text" class="form-control" name ="subject" id="subject" oninput="title_spaceCheck()" placeholder="Enter title">
		    </div>
		    <div class="form-group">
		      <label for="content">Contents:</label>
		      <textarea id="editor1" name="editor1"  onchange="title_spaceCheck()" placeholder="Describe yourself here..."></textarea>
		    </div>
		    <div class="form-group">	
		      <input type="file" class="btn btn-default pull-left col-md-3" name="file" id="file" onchange="setFilename();" multiple ="multiple">
		      <a href="#" class="col-md-1" onclick="fileReset();">
					<span class="glyphicon glyphicon-remove"></span>
				</a>
				<button type="submit" id="board_write" class="btn btn-primary pull-right" disabled="disabled">Submit</button> 	
		    </div>
		    <div class="form-group">
		    	<div id="files_preview" class="col-md-12">
		    	<div class="progress">
					<div id="progressBar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">0%
					</div>
				</div>
				    <ul id="file_list">
				    </ul>
		    	</div>
		    </div>
		</form>
  </div>
</section>
	
	{% block Footer %}
		{{super()}}
	{% endblock %}

	{% block jquery %}
		{{super()}}
	{% endblock %}
	<script type="text/javascript" >
	 
	 var $file_list = $('#file_list');
	 
    CKEDITOR.replace( 'editor1', {
        filebrowserImageUploadUrl: '/ckupload/'
    });
    
    $(document).ready(function(){
    	$('form').on('submit', function(event){
	    		event.preventDefault();
	    		
	    		var formData = new FormData($('form')[1]);
	    		
	    		$.ajax({
	    			xhr : function() {
	    				var xhr = new window.XMLHttpRequest();
	    				
	    				xhr.upload.addEventListener('progress', function(e){
	    					
	    					if(e.lengthComputable){
	    						console.log('Bytes Loaded: ' + e.loaded);
	    						console.log('Total Size:'+e.total);
	    						console.log('Percentage uploaded: '+(e.loaded / e.total));
	    						
	    						var percent = Math.round((e.loaded / e.total)*100);
	    						
	    						$('#progressBar').attr('aria-valuenow', percent).css('width', percent+'%').text(percent+'%');
	    					}
	    				});
	    				return xhr;
	    			},
	    			type : 'POST',
	    			url : "{{url_for('.create', category=board_name)}}",
	    			data : formData,
	    			processData : false,
	    			contentType : false,
	    			success : function(return_data){
	    				var status = $.trim(return_data.status);
	    				var msg = $.trim(return_data.msg);
	    				if (status == 'fail') {
							alert('fail! 글 작성 실패! Error : '+msg);
						} else if (status == 'ok') {
							alert('글 작성 완료');
							window.location.replace("{{url_for('.board_list', category=board_name)}}")
						} else if (status == 'error') {
							alert('Error! '+msg);
						}else if(status == 'permission error'){
							alert('잘못된 접근입니다.!');
						}
	    			},
	    			error : function(error) {
						console.log(error);
					}
	    		});
    	});
    });
    
    $(function(){
    	title_spaceCheck();
    });
    
    function fileReset(){
    	 var controlInput = $("#file");
    	 $file_list.html('');
         controlInput.replaceWith(controlInput = controlInput.val('').clone(true)); 	
    }
    
    function setFilename(){
    	var files = $('#file').get(0).files;
    	var all_size = 0;
    	
    	$file_list.html("<a>Files:</a> <ul>");
    	for(i=0; i<files.length;i++){
    		var size = (Math.round(((files[i].size/1024) / 1024) * 100) / 100);
    		
    		$file_list.html($file_list.html()+"<li>"+files[i].name+"  "+size+"Mb</li>");
    		all_size +=size;
    	}
    	$file_list.html($file_list.html()+"</ul>총 크기 : "+all_size+"Mb");
    }
    
    
    function null_check(str){
  	  if(str.length==0 || !str.trim()){
  		  return true;
  	  }
  	  return false;
     }
    
      function title_spaceCheck(){
  		var subject = $('#subject').val()
  		//var text = CKEDITOR.instances.editor1.getData();
  		if(null_check(subject)){
  			$('#board_write').prop("disabled", true);
  		}
  		else{
  			$('#board_write').prop("disabled", false);
  		}
  	}

/*
    $(function (){
    	$('#board_write').click(function(){
    		var subject = $('#subject').val();
    		var editor1 = CKEDITOR.instances.editor1.getData();

    		if(subject=='' || editor1==''){
    			alert("제목, 혹은 내용을 작성하세요.")
        		return
        	}
			$.ajax({
				url : "{{url_for('.create', category=board_name)}}",
				type : 'POST',
				dataType : "json",
				data : {subject:$('#subject').val(), editor1:CKEDITOR.instances.editor1.getData()},
				async: false,
				success : function(data) {
					status = $.trim(data.status);
					if (status == 'fail') {
						alert('Error! 글쓰기 실패!');
					} else if (status == 'ok') {
						alert('글쓰기 완료');
						window.location.replace("{{url_for('.board_list', category=board_name)}}")
					} else if (status == 'error') {
						alert('Error!');
					}
				},
				error : function(error) {
					console.log(error);
				}
			});
		});
    });
*/
    
	</script>
{% endblock %}
