{% extends "base.html" %}
{% block head %}
{% block title %}Index{% endblock %}
	{{super()}}
{% endblock %}
{% block body %}
	{% block Nav %}
		{{super()}}
	{% endblock %}
	<section id="Login">
	<div class="container">
	    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
	        <div class="panel panel-success" style="margin-top: 150px;">
	            <div class="panel-heading">
	                <div class="panel-title">환영합니다!</div>
	            </div>
	            <div class="panel-body">
	                <form id="login-form">
	                    <div>
	                        <input type="text" class="form-control" name="id" placeholder="Id" autofocus>
	                    </div>
	                    <div>
	                        <input type="password" class="form-control" name="password" placeholder="Password">
	                    </div>
	                    <div>
	                        <button type="submit" class="form-control btn btn-primary">로그인</button>
	                    </div>
	                </form>
	            </div>
	        </div>
	    </div>
	</div>
	</section>
	{% block jquery %}
		{{super()}}
	{% endblock %}

{% endblock %}